PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
MONGO_URL="mongodb connection string"

JWT_ACCT_ACTV_SECRET="jwt secret to activate email (random string)"
JWT_SECRET="jwt secret for saving sessions (random string)"
JWT_SECRET="jwt secret for resetting password (random string)"

EMAIL_TO="client@gmail.com"
EMAIL_FROM="server@gmail.com"
MAIL_KEY="send grid mail key"

GOOGLE_CLIENT="google client id"
